#header-container {
    display: flex;
    padding: 10px 30px;
    margin-bottom: 20px;
    background-color: rgb(206, 127, 29);
    #header-links {
        flex-grow: 1;
        display: flex;
        gap: 20px;
        justify-content: right;
        
        #header-current-link {
            cursor: pointer;
            &:hover {
                color :aliceblue;
            }

            &:active {
                color : aliceblue;
            }
        }
        
    }
}